<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<dict>
		<key>CentralPark</key>
		<dict>
			<key>POIs</key>
			<array>
				<dict>
					<key>Label</key>
					<string>Williamsburg</string>
					<key>Color</key>
					<integer>1</integer>
					<key>Image</key>
					<string>poi_portrait_Williamsburg</string>
					<key>Audio</key>
					<string>poi_audio_1</string>
					<key>PersonName</key>
					<string>Sandra Davila</string>
					<key>AboutHTMLFile</key>
					<string>Text-Williamsburg.html</string>
					<key>FactsHTMLFile</key>
					<string></string>
					<key>Gallery</key>
					<array>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Williamsburg_1</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Williamsburg_2</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est.</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Label</key>
					<string>Tompkinsville</string>
					<key>Color</key>
					<integer>2</integer>
					<key>Image</key>
					<string>poi_portrait_Tompkinsville</string>
					<key>Audio</key>
					<string>poi_audio_2</string>
					<key>PersonName</key>
					<string>Tattfoo Tan</string>
					<key>AboutHTMLFile</key>
					<string>Text-Tompkinsville.html</string>
					<key>FactsHTMLFile</key>
					<string></string>
					<key>Gallery</key>
					<array>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Tompkinsville_1</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Tompkinsville_2</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est.</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Label</key>
					<string>Jackson Heights</string>
					<key>Color</key>
					<integer>3</integer>
					<key>Image</key>
					<string>poi_portrait_JacksonHeights</string>
					<key>Audio</key>
					<string>poi_audio_1</string>
					<key>PersonName</key>
					<string>Renzo Ortega </string>
					<key>AboutHTMLFile</key>
					<string>Text-JacksonHeights.html</string>
					<key>FactsHTMLFile</key>
					<string></string>
					<key>Gallery</key>
					<array>
						<dict>
							<key>Image</key>
							<string>poi_gallery_JacksonHeights_1</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>poi_gallery_JacksonHeights_2</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est.</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Label</key>
					<string>Corona</string>
					<key>Color</key>
					<integer>4</integer>
					<key>Image</key>
					<string>poi_portrait_Corona</string>
					<key>Audio</key>
					<string>poi_audio_Corona</string>
					<key>PersonName</key>
					<string>Doris Ramirez</string>
					<key>AboutHTMLFile</key>
					<string>Text-Corona.html</string>
					<key>FactsHTMLFile</key>
					<string></string>
					<key>Gallery</key>
					<array>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Corona_1</string>
							<key>Caption</key>
							<string>View inside of Tiffany Studios in 43rd Avenue and 97th Place in Corona, Queens circa 1910. The glass workshops of Louis Comfort Tiffany were renowed for their experimentation with glass pigments and related media.</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Corona_2</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est</string>
						</dict>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Corona_3</string>
							<key>Caption</key>
							<string>Lorem ipsum dolor est</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Label</key>
					<string>Woodside</string>
					<key>Color</key>
					<integer>4</integer>
					<key>Image</key>
					<string>poi_portrait_Woodside</string>
					<key>Audio</key>
					<string>poi_audio_Corona</string>
					<key>PersonName</key>
					<string>Raji Pokhrel</string>
					<key>AboutHTMLFile</key>
					<string>Text-Woodside.html</string>
					<key>FactsHTMLFile</key>
					<string></string>
					<key>Gallery</key>
					<array>
						<dict>
							<key>Image</key>
							<string>poi_gallery_Woodside_1</string>
							<key>Caption</key>
							<string>Lorem ipsum</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
