<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<dict>
		<key>CentralPark</key>
		<dict>
			<key>POIs</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Sheep Meadow</string>
					<key>Color</key>
					<string>1</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cherry Hill</string>
					<key>Color</key>
					<string>2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>The Pond</string>
					<key>Color</key>
					<string>3</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Strawberry Fields</string>
					<key>Color</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<key>Brooklyn</key>
		<dict>
			<key>POIs</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Brooklyn Bridge</string>
					<key>Color</key>
					<string>1</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Prospect Park</string>
					<key>Color</key>
					<string>2</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Coney Island</string>
					<key>Color</key>
					<string>3</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Botanic Garden</string>
					<key>Color</key>
					<string>4</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Brooklyn Museum</string>
					<key>Color</key>
					<string>5</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>New York Aquarium</string>
					<key>Color</key>
					<string>6</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Coney Island Cyclone</string>
					<key>Color</key>
					<string>7</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
