html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
	font-size: 17px;
	color: #1f1f1f;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
    height: 100%;
}

h1 {
	font-size: 23px;
	margin: 0;
	padding: 0;
}

#main {
	display: block;
    position: fixed;
    padding-right: 30px;
    padding-left: 72px;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: -webkit-linear-gradient(top,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%);
}

a {
	text-decoration: none;
	color: #006cb8;
}

.divider{
	border-bottom: 1px solid #c2c2c2;
	margin: 30px 0 30px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-image: url('../img/background@2x.jpg');
        -webkit-background-size: 523px 595px;
    }
}

.icon{
	float: left;
	margin-right: 20px;
	margin-top: 18px;
	margin-bottom: 25px;
}
.video-thumb{
	float: left;
	margin-right: 15px;
	margin-top: 10px;
	margin-bottom: 8px;
}

.floated{
	float: left;
}
