html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Avenir";
	font-size: 18px;
	padding-bottom: 80px;
	color: #1f1f1f;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
    height: 100%;
}

h1 {
	font-size: 23px;
	margin: 0;
	padding: 0;
}

#main {
	display: block;
    position: fixed;
    width:80%;
    padding-left: 72px;
    padding-top: 30px;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: -webkit-linear-gradient(top,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0) 100%);
}

.caption{
	color: #555555;
	font-size: 15px;
	margin-top: 0;
}
a {
	text-decoration: none;
	color: #006cb8;
}

.divider{
	border-bottom: 1px solid #c2c2c2;
	margin: 30px 0 30px 0;
}





